{% extends 'accounts/base.html' %}
{% block content %}
<br>

<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white  mb-3" id="total-orders">
                <div class="card-header">
                    <h5 class="card-title">Total Orders</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ total_orders }}</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white  mb-3" id="orders-delivered">
                <div class="card-header">
                    <h5 class="card-title">Orders Delivered</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ total_delivered }}</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white  mb-3" id="orders-pending">
                <div class="card-header">
                    <h5 class="card-title">Orders Pending</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ total_pending }}</h3>
                </div>
            </div>
        </div>
    </div>
</div>



<br>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
                <table class="table table-gray table-sm table-borderless">
                  <thead>
                    <tr>
                        <th></th>
                        <th scope="col">Product</th>
                        <th scope="col">Note</th>
                        <th scope="col">Date Orderd</th>
                        <th scope="col">Status</th>
                        <th scope="col">Update</th>
                        <th scope="col">Remove</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for order in orders %}
                        <tr>
                            <td><input type="checkbox"  name="instance" value="{{obj.id}}"></td>
                            <td scope="row">{{ order.product }}</td>
                            <td scope="row">{{ order.note }}</td>
                            <td scope="row">{{ order.date_created }}</td>
                            <td scope="row">{{ order.status }}</td>
                            <td scope="row"><a class="btn btn-sm btn-primary" href="{% url 'accounts:update_order' order.pk %}">Update</a></td>
                            <td scope="row"><a class="btn btn-sm btn-danger" href="{% url 'accounts:delete_order' order.pk %}">Remove</a></td>
                        </tr>
                    {% endfor %}
                  </tbody>
                </table>
        </div>
    </div>
</div>



{% endblock content %}

<!-- <td><input type="checkbox"  name="instance" value="{{obj.id}}"></td> -->
