{% extends 'accounts/base.html' %}
{% block content %}
<div class="card card-body text-center">

    <form action="" method="POST">
        {% csrf_token %}
        {{ formset.management_form }}
        {% for form in formset %}
            {{ form }}
            <hr>
        {% endfor %}
        <input type="submit" name="Submit">
    </form>

</div>
{% endblock %}


