{% extends 'accounts/base.html' %}
{% block content %}

    <br>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>Customer:</h5>
            <hr>
            <a class="btn btn-outline-info  btn-sm btn-block" href="">Update Customer</a>
            <a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'accounts:create_order' customer.pk %}">Place Order</a>

        </div>
    </div>

    <div class="col-md">
        <div class="card card-body">
            <h5>Contact Information</h5>
            <hr>
         <!--    <p><strong>Name:</strong> {{ customer.name }} </p> -->
            <p><strong>Email:</strong> {{ customer.email }} </p>
            <p><strong>Phone:</strong> {{ customer.phone }} </p>
        </div>
    </div>

    <div class="col-md">
        <div class="card card-body">
            <h5>Total Orders</h5>
            <hr>
            <h1 style="text-align: center;padding: 10px">{{ order_count }}</h1>
        </div>
    </div>
</div>


<br>
<div class="row">
    <div class="col">
        <div class="card card-body">
            <form method="get">
                {{ myFilter.form }}
            <button class="btn btn-primary" type="submit">Search</button>
          </form>
        </div>
    </div>

</div>
<br>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
           <table class="table table-borderless table-dark">
              <thead>
                <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Note</th>
                    <th scope="col">Date Orderd</th>
                    <th scope="col">Status</th>
                    <th scope="col">Update</th>
                    <th scope="col">Remove</th>
                </tr>
              </thead>
              <tbody>
                {% for order in orders %}
                    <tr>
                        <td scope="row">{{ order.product }}</td>
                        <td scope="row">{{ order.note }}</td>
                        <td scope="row">{{ order.date_created }}</td>
                        <td scope="row">{{ order.status }}</td>
                        <td scope="row"><a class="btn btn-sm btn-primary" href="{% url 'accounts:update_order' order.pk %}">Update</a></td>
                        <td scope="row"><a class="btn btn-sm btn-danger" href="{% url 'accounts:delete_order' order.pk %}">Remove</a></td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}

