{%  extends 'accounts/base.html' %}

{% block content %}

{%  include 'accounts/status.html' %}

    <br>

    <div class="row card-pd">
        <div class="col-md-5">
            <h5>CUSTOMERS:</h5>
            <hr>
            <div class="card card-body">
                <!-- <a class="btn btn-primary  btn-sm btn-block" href="">Create Customer</a> -->
                <table class="table table-sm table-borderless">
                    <tr>
                        <th>Customer</th>
                        <th>Phone</th>
                        <th>Action</th>
                    </tr>
                     {% for customer in last_five_customer %}
                        <tr>
                            <td>{{ customer.name }}</td>
                            <td>{{ customer.phone }}</td>
                            <td><a href="{% url 'accounts:customer' customer.pk %}">View</a></td>

                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

        <div class="col-md-7">
            <h5>LAST 5 ORDERS</h5>
            <hr>
            <div class="card card-body">
            {% for message in messages %}
                <p class="alert alert-{{ message.tags }}">{{message}}</p>
            {% endfor %}
                <table class="table table-sm table-borderless">
                    <tr>
                        <th>Product</th>
                        <th>Date Orderd</th>
                        <th>Status</th>
                        <th>Update</th>
                        <th>Remove</th>
                    </tr>
                    {% for order in last_five_orders %}
                        <tr>
                            <td>{{ order.product }}</td>
                            <td>{{ order.date_created }}</td>
                            <td>{{ order.status }}</td>
                            <td><a class="btn btn-sm btn-info" href="{% url 'accounts:update_order' order.pk %}">Update</a></td>
                            <td><a class="btn btn-sm btn-danger" onclick="return confirm('Are you sure you want to delete {{ order }}?');" >Remove</a></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

    </div>

{% endblock %}
