{% extends 'accounts/base.html' %}
{% block content %}
<div class="card card-body text-center">

    <p>Are you sure you want to delete {{ order }}? </p>

    <form action="{% url 'accounts:delete_order' order.pk %}" method="POST">
        {% csrf_token %}
        <a class="btn btn-sm btn-info" href="{% url 'accounts:dashboard' %}">Cancel</a>
        <input class="btn btn-sm btn-danger" onclick="return confirm('Are you sure?');" type="submit" name="Confirm">
<!--         <button type="submit" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure?');"> -->
    </form>

</div>
{% endblock %}

<!-- <div class="row card-pd">
        <div class="col-md-5">
            <div class="card card-body">

         </div>
     </div>
</div>
 -->
