{% extends 'accounts/base.html' %}
{% block content %}

<form action="" method="POST">
    {% csrf_token %}
{{ formset.management_form }}
{% for form in formset %}
    {{ form.as_p }} <hr>
{% endfor %}

<button type="submit">submit</button>
</form>


{% endblock %}