{% load static %}

<style>
  .hello-msg{
    font-size: 18px;
    color: #fff;
    margin-right: 20px;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  {% if request.user.customer %}
  <a class="navbar-brand" href="{% url 'accounts:userPage' %}">Hasina Construction</a>
  {% else %}
  <a class="navbar-brand" href="{% url 'accounts:dashboard' %}">Hasina Construction</a>
  {% endif %}
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          {% if request.user.is_staff %}
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'accounts:dashboard' %}">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:products' %}">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:all_orders' %}">Orders</a>
          </li>
          {% endif %}
          {% if request.user.customer %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:accountSettings' %}">Settings</a>
          </li>
          {% endif %}
        </ul>
      </div>
  {% if request.user.customer or request.user.is_staff %}
  <span class="hello-msg">Hello, {{request.user}}</span>
  <span ><a  class="hello-msg" href="{% url 'accounts:logoutUser' %}">Logout</a></span>
  {% endif %}

</nav>
