{% extends 'accounts/base.html' %}
{% block content %}
<div class="card card-body text-center">

    <h3>Password reset complete</h3>

    <p>Your password has been set. You may go ahead and log in now.</p>

    <a href="{% url 'accounts:dashboard' %}">Log in</a>


</div>
{% endblock %}
