{% extends 'accounts/base.html' %}
{% block content %}
<div class="card card-body text-center">

    <form action="" method="POST">
        {% csrf_token %}
            {{ form }}
            <hr>
        <input type="submit" name="Submit">
    </form>

</div>
{% endblock %}
