{% extends 'accounts/base.html' %}
{% block content %}
{% include 'accounts/status.html' %}

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <table class="table table-sm table-borderless">
                <tr>
                    <th>Product</th>
                    <th>Note</th>
                    <th>Date Orderd</th>
                    <th>Status</th>
                </tr>
                {% for order in orders %}
                        <tr>
                            <td>{{ order.product }}</td>
                            <td>{{ order.note }}</td>
                            <td>{{ order.date_created }}</td>
                            <td>{{ order.status }}</td>
                        </tr>
                    {% endfor %}
            </table>
        </div>
    </div>
</div>



{% endblock %}
